BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: true
SortIncludes: CaseInsensitive
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
BinPackParameters: true
BinPackArguments: true
DerivePointerAlignment: false
AllowAllParametersOfDeclarationOnNextLine: false
Standard: c++23
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: false
AlignOperands: Align
AlignEscapedNewlines: Left
